name: pytest

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pytest:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run pytest
        run: uv run --all-extras --group test pytest tests --cov=src --cov=tests --cov-fail-under=95

  minimum_versions:
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run pytest
        run: uv run --with pydantic==2.0.0,narwhals==2.0.0 --group test pytest tests --cov=src --cov=tests --cov-fail-under=95
