name: pytest

on:
  pull_request:
  push:
    branches: [main]

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  pytest:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: install-requirements
        run: uv pip install -e ".[pydantic]" --group test
      - name: show-deps
        run: uv pip freeze
      - name: Run pytest
        run: pytest tests --cov=src --cov=tests --cov-fail-under=100

  minimum_versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: install-requirements
        run: uv pip install -e . narwhals==2.0.0 pydantic==2.0.0
      - name: show-deps
        run: uv pip freeze
      - name: Assert dependencies
        run: |
          DEPS=$(uv pip freeze)
          echo "$DEPS" | grep 'pydantic==2.0'
      - name: Run pytest
        run: pytest tests --cov=src --cov=tests --cov-fail-under=95
